
.button {
  background-color: var(--color-success);
  border: none; 
  color: var(--color-background);
  padding: 12px 24px;
  text-align: center; 
  text-decoration: none; 
  display: inline-block;
  font-size: 16px;
  margin-left: auto;
  cursor: pointer;
  border-radius: 8px; 
  transition-duration: 0.4s;
}

.button:hover {
  background-color: var(--color-success-hover);
  color: var(--color-tap);
}
