.wrapper {
  width: 100%;
  margin-bottom: 4px;
}

.label {
  display: block;
  margin-bottom: 4px;
}

.textarea {
  display: block;
  width: 100%;
  padding: 10px;
  border: 1px solid var(--color-border);
  border-radius: 5px;
  font-size: 14px;
}

.textarea:focus {
  outline: 2px solid var(--color-accent);
}
